body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-color: #1b2f55;
}
#gridButton {
  background-color: #ffd376;
  border: solid black 5px;
  border-radius: 15px;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}
#container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  max-width: 960px;
  gap: 1px;
}

.gridRow {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  transition: background-color 0.3s;
  border-radius: 3px;
}

/*
.cell:hover,
.cell.active {
  background-color: #1c3252;
}
  */
